<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <data>
    
        <!-- Main Menu  -->
        <record id="action_get_company" model="ir.actions.act_window">
            <field name="name">Linkedin Scrap</field>
            <field name="res_model">company.api</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    Linkedin Scrap
                </p>
            </field>
        </record>

        <menuitem
            id="root_menu"
            name="LINKEDIN SCRAP"
            sequence="10"/>

        <menuitem
            id="scrap_menu"
            name="GetCompanyData"
            action="action_get_company"
            parent="root_menu"
            groups="base.group_user"
            sequence="10"/>
    
    </data>
    

</odoo>
